* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

.hot-img {
  width: 80%;
}

* {
  font-family: 'Poppins';
}

h1 {
  font-size: 2.25rem;
  font-weight: 300;
}

h2 {
  font-size: 1.62rem;
  font-weight: 300;
}

h3 {
  font-size: 1.25rem;
}

p, a, .marg {
  font-size: 1.12rem;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.logo h2 {
  font-size: 2.25rem;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .logo h2 {
    font-size: 1.62rem;
    font-weight: 300;
  }
}

.logo p {
  font-size: 1.62rem;
}

@media screen and (max-width: 767px) {
  .logo p {
    font-size: 0.9rem;
  }
}

.img-title {
  font-size: 2.25rem;
  font-weight: 300;
  color: #415A77;
}

.img-subtitle {
  font-size: 1.25rem;
  font-weight: 300;
  color: #415A77;
}

.flexbox-item-3 {
  font-weight: 500;
}

.link {
  text-decoration: underline;
}

.title {
  margin-bottom: 25px;
}

.subtitle {
  font-weight: 600;
  margin-top: 15px;
}

.text-field {
  margin-top: 15px;
}

.text-field ul {
  margin-right: 20px;
}

.marg {
  margin-bottom: 15px;
  margin-top: 100px;
  font-weight: 500;
  margin-left: 22px;
}

.calendar-heading {
  margin-bottom: 15px;
}

.aside-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

.aside-navbar li {
  margin-bottom: 16px;
}

.nav-link {
  display: inline-block;
  margin: 0 20px 15px;
}

.nav-link a:hover {
  font-weight: 500;
}

aside {
  width: 90%;
  border-right: 1px #415A77 solid;
  margin-right: 100px;
}

header {
  padding: 30px;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px;
}

@media screen and (max-width: 767px) {
  .header-wrapper {
    margin: 30px 0;
  }
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-container a {
  text-decoration: none;
}

.header-container a a {
  color: #0D1B2A;
}

.header-container a:hover {
  color: #415A77;
}

.header-container a:visited {
  color: #1B263B;
}

.header-container a:active {
  color: #778DA9;
}

.logo {
  color: #415A77;
  line-height: 1.3;
  margin-top: 20px;
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  .logo {
    margin-left: unset;
  }
}

.mobile-menu i {
  color: white;
  font-size: 50px;
  margin-top: 20px;
}

@media (min-width: 1000px) {
  .mobile-menu {
    display: none;
  }
}

@media (max-width: 1000px) {
  header {
    background-color: #415A77;
  }
  .logo h2, .logo p {
    color: white;
  }
  .header-container {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .mobile-menu > section {
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0;
    color: #fff;
    z-index: 1000000;
    display: none;
    padding-top: 200px;
  }
  .mobile-menu > nav {
    background: #415A77;
    padding: 40px;
  }
}

.footer-container {
  background-color: #415A77;
  padding: 30px 0 0px;
}

.footer-container .row-f {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "poppins";
}

.footer-container .row-f ul li {
  list-style: none;
  margin-bottom: 10px;
  width: 100%;
  color: #E0E1DD;
  font-size: 18px;
}

.footer-container .row-f ul li a {
  text-decoration: none;
  color: #E0E1DD;
}

.footer-container .row-f .col-f {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 10px;
  z-index: 1;
  margin-bottom: 12px;
}

.footer-container .row-f .col-f .line {
  border-left: 1px solid black;
  height: 200px;
  position: relative;
  left: 100%;
}

.footer-container .copyright {
  margin: auto;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #E0E1DD;
}

@media (max-width: 767px) {
  .row-f {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .row-f .col-f .line {
    display: none;
  }
  .row-f .col-f ul li {
    color: #E0E1DD;
  }
  .row-f .col-f ul li a {
    color: #E0E1DD;
  }
  .copyright {
    color: #E0E1DD;
  }
}

.search-bar {
  width: 350px;
  height: 44px;
  border: 1px solid #E0E1DD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

#site-search {
  all: unset;
  height: 100%;
  width: 100%;
  padding: 10px;
}

::-webkit-input-placeholder {
  color: #415A77;
  opacity: 0.7;
}

:-ms-input-placeholder {
  color: #415A77;
  opacity: 0.7;
}

::-ms-input-placeholder {
  color: #415A77;
  opacity: 0.7;
}

::placeholder {
  color: #415A77;
  opacity: 0.7;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

textarea {
  height: 60px;
}

input, textarea {
  all: unset;
  border: 1px solid #778DA9;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .wrapper {
  width: 100%;
  max-width: 1200px;
}

@media screen and (max-width: 767px) {
  .container .wrapper {
    width: 90%;
  }
}

.flexbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 5rem;
          column-gap: 5rem;
}

.flexbox-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 100px;
  border-bottom: 1px solid #778DA9;
  border-top: 1px solid #778DA9;
  padding-top: 2.2rem;
  margin-bottom: 5rem;
}

@media screen and (max-width: 767px) {
  .flexbox-item {
    display: none;
  }
}

.head-section {
  background: url(Img/main-main-bild.jpg);
  height: 572px;
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 5rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .head-section {
    margin: unset;
    background: none;
    height: 500px;
  }
}

.head-section--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imgcontainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 110px;
  margin-bottom: 200px;
}

@media screen and (max-width: 767px) {
  .imgcontainer {
    display: contents;
  }
}

.imgcontainer figcaption {
  margin-top: 15px;
  text-align: center;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .imgcontainer figcaption {
    margin-bottom: 75px;
  }
}

.form-button {
  background-color: #1B263B;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 25px;
  -webkit-box-shadow: 0 8px 6px -5px #1B263B;
          box-shadow: 0 8px 6px -5px #1B263B;
}

.nav-button {
  background-color: #1B263B;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 25px;
  -webkit-box-shadow: 0 8px 6px -5px #1B263B;
          box-shadow: 0 8px 6px -5px #1B263B;
  margin: 20px;
}

.search-bar button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
  color: #415A77;
}

.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-2 {
  margin-bottom: 200px;
}

.col-2 .line {
  border: 1px #415A77 solid;
  width: 100%;
  margin: 75px 0;
}

.col-2 .textfield-ul {
  margin-left: 50px;
  margin-top: 15px;
}

.sides {
  margin-bottom: 89px;
}

.box img {
  margin-bottom: 70px;
}

.box-figure > img {
  margin-bottom: 0px;
}

.box-figure-2 > img {
  margin-top: 15px;
  margin-bottom: 0px;
}

.calender-img {
  margin-bottom: 40px;
}

.text-list {
  margin-top: 15px;
  margin-left: 40px;
}

figure {
  margin-bottom: 15px;
}

.contact-form {
  margin-top: 30px;
}

.contact-form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-form ul li {
  margin-top: 1em;
}

.contact-form label {
  display: inline-block;
  width: 160px;
  text-align: right;
}

.contact-form input, .contact-form textarea {
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-form textarea {
  vertical-align: top;
}
/*# sourceMappingURL=main.css.map */