.cols {
    display: flex;
}

.col-2 {
    margin-bottom: 200px;

    @media screen and (max-width: $tablet-screen){
        max-width: 100%;
    }

    .line {
        border: 1px $third-color solid;
        width: 100%;
        margin: 75px 0;
    }

   .textfield-ul {
       margin-left: 50px;
       margin-top: 15px;
   }
}

.sides {
    margin-bottom: 89px;

    @media screen and (max-width: $tablet-screen) {
        margin-top: 40px;
    }
}

.box img {
    margin-bottom: 70px;
} 



