// Variabels - fonts and color
$font: 'Poppins', sans-serif ;
$primary-color: #0D1B2A;
$second-color: #1B263B;
$third-color: #415A77;
$forth-color: #778DA9;
$fifth-color: #E0E1DD;

// Variables - Width and height
$primary-width: 95%;
$max-width: 1400px;

// Margins

$margin-header: 20px;

// Responsive breaks
$tablet-screen: 1075px;
$mobile-screen: 767px; 